@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Roboto", sans-serif;
}
body._active-burger {
  overflow: hidden;
}

.wrapper {
  display: flex;
}

.content {
  width: 100%;
  background-color: #181818;
}

.container {
  max-width: 630px;
  margin: 0px auto;
  padding: 0px 15px;
}
.container._active-burger {
  opacity: 0.1;
  overflow: none;
}
@media (max-width: 679px) {
  .container .input {
    display: none;
  }
  .container .block {
    margin: 30px 0 0 0;
  }
  .container .block1__image {
    width: 290px;
    height: 183px;
    margin: 0px auto;
  }
  .container .block1__conteiner {
    padding: 20px 15px 0 15px;
  }
  .container .block2__image {
    width: 290px;
    height: 205px;
    margin: 0px auto;
  }
  .container .block2__image img {
    width: 290px;
    height: 205px;
    padding: 0;
  }
  .container .block2__image a {
    top: 25%;
    left: 35%;
  }
  .container .block2__image a img {
    width: 100px;
    height: 100px;
  }
  .container .block2__conteiner {
    padding: 20px 15px 0 15px;
  }
}

.sidebar {
  max-width: 300px;
  min-width: 222px;
  background-color: #202020;
  box-shadow: 5px 0px 15px rgba(5, 5, 5, 0.1);
}
.sidebar__container {
  padding: 0px 20px;
}
.sidebar__image {
  width: 100%;
  height: 180px;
}
.sidebar__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sidebar__top-body {
  transform: translate(0px, -25%);
}
.sidebar__top-body_p-a {
  margin: 19px 0 0 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.sidebar__top-body_p-b {
  margin: 3px 0 0 0;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  opacity: 0.9;
}
.sidebar__top-body p {
  display: block;
  font-style: normal;
  text-align: center;
  color: #FFFFFF;
}
.sidebar__top-body-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px #FFFFFF solid;
  margin: 0px auto;
}
.sidebar__top-body-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}
.sidebar__top-body-contacts {
  display: flex;
  justify-content: center;
  margin: 18px 0 0 0;
  padding: 0px -7.5px;
}
.sidebar__top-body-contacts li {
  margin: 0px 7.5px;
}
.sidebar__top-body-contacts_a {
  display: block;
  width: 25px;
  height: 25px;
}
.sidebar__top-body-contacts_a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sidebar__top-body-contacts_c {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.sidebar__top-body-contacts_c img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sidebar__bottom-text {
  display: flex;
  align-items: center;
  height: 150px;
  margin: 0px auto;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  border-top: 1px solid #1C1C1C;
  border-bottom: 1px solid #1C1C1C;
}
.sidebar__bottom-btn {
  display: flex;
  justify-content: center;
  padding: 0px -10px;
  margin: 30px 0 0 0;
}
.sidebar__bottom-btn li {
  margin: 0px 10px;
}
.sidebar__bottom-buttom {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  width: 120px;
  height: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
}
.sidebar__bottom-buttom_a {
  background-color: #ED3024;
  box-shadow: 0px 7px 17px -10px rgba(242, 63, 63, 0.2);
}
.sidebar__bottom-buttom_b {
  background-color: #3137C9;
  box-shadow: 0px 7px 17px -10px rgba(32, 84, 219, 0.35);
}
.sidebar__list {
  display: none;
}
.sidebar__menu {
  display: none;
}
.sidebar__link span {
  display: inline-block;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 5px solid #FFFFFF;
  width: 0;
  height: 0;
  margin: 0 0 0 9px;
  transform: translate(0px, -2px);
  transition: all 0.3s ease 0s;
}
.sidebar__link span._active-menu {
  transform: rotate(-180deg);
  transition: all 0.3s ease 0s;
  border-top: 5px solid #107EFF;
}
@media (max-width: 930px) {
  .sidebar__bottom-btn {
    display: block;
  }
  .sidebar__bottom-btn li {
    display: flex;
    justify-content: center;
  }
  .sidebar__bottom-btn li:last-child {
    margin: 15px 0 0 0;
  }
}
@media (max-width: 679px) {
  .sidebar {
    position: absolute;
    left: -400px;
    z-index: 8;
    transition: left 0.3s ease 0s;
    background-color: #0D0D0D;
    height: 110%;
    overflow: auto;
  }
  .sidebar__container {
    transform: translate(0px, -40px);
    background-color: #0D0D0D;
  }
  .sidebar__top {
    max-height: 52px;
    position: relative;
  }
  .sidebar__top-body p {
    transform: translate(20px, -30px);
  }
  .sidebar__top-body_p-a {
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    max-width: 110px;
    margin: 0 0 0 51px;
  }
  .sidebar__top-body_p-a:after {
    content: "";
    position: absolute;
    width: 270px;
    height: 1px;
    background-color: #1C1C1C;
    top: 55px;
    right: -84px;
  }
  .sidebar__top-body_p-b {
    margin: 0 0 0 53px;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    max-width: 160px;
  }
  .sidebar__top-body-icon {
    transform: translate(-102px, 25%);
    width: 65px;
    height: 65px;
  }
  .sidebar__top-body-contacts {
    display: none;
  }
  .sidebar__bottom-text {
    display: none;
  }
  .sidebar__bottom-btn {
    display: flex;
    margin: 35px -5px 0 -5px;
  }
  .sidebar__bottom-btn li {
    padding: 0px 5px;
  }
  .sidebar__bottom-btn li:first-child {
    margin: 0 10px 0 0;
  }
  .sidebar__bottom-btn li:last-child {
    margin: 0px;
  }
  .sidebar__list {
    display: inline-block;
    margin: 42px 0 0 15px;
  }
  .sidebar__link {
    display: block;
    padding: 0 0 20px 0;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
  }
  .sidebar__link:active {
    color: #107EFF;
  }
  .sidebar__menu {
    margin: 20px 0 0 0;
  }
  .sidebar__menu._active-menu {
    display: block;
  }
  .sidebar__menu_link {
    display: block;
    margin: 0 0 20px 17px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
  }
  .sidebar__menu_link_a {
    margin: 0px 0 0 17px;
  }
  .sidebar__menu_link:active {
    color: #107EFF;
  }
  .sidebar__link-menu._active-menu {
    color: #107EFF;
  }
  .sidebar._active-burger {
    left: 0px;
    transition: left 0.3s ease 0s;
  }
}

.header {
  height: 40px;
  width: 100%;
  background-color: #0D0D0D;
  box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 10;
}
.header__burger {
  display: none;
}
.header__row {
  display: flex;
  justify-content: space-between;
}
.header__menu {
  display: flex;
  flex: 1 1 auto;
}
.header__column {
  position: relative;
}
.header__column_a {
  flex: 1 1 auto;
}
.header__list {
  display: flex;
}
.header__list > li:hover .header__list-menu {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.header__link {
  display: inline-block;
  height: 40px;
  width: 86px;
  padding: 13px 0 0 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.header__link span {
  display: inline-block;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 5px solid #FFFFFF;
  width: 0;
  height: 0;
  margin: 0 0 0 9px;
  transform: translate(0px, -1px);
}
.header__link:hover {
  background-color: #3137C9;
}
.header__list-menu {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  background-color: #3137C9;
  width: 165px;
  height: 84px;
  padding: 10px 0 0 12px;
  z-index: 5;
  transform: translate(-15.5px, 14px);
}
.header__list-menu li {
  padding: 0 0 10px 0;
}
.header__list-menu li:hover {
  text-decoration: underline;
}
.header__link-menu {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  opacity: 0.9;
  text-transform: none;
}
.header__input {
  background: #202020;
  box-shadow: -7px 1px 10px rgba(0, 0, 0, 0.3);
  width: 220px;
  height: 100%;
  padding: 0 0 0 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
}
.header__input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.header__input:focus {
  border: 1px #3137C9 solid;
}
@media (max-width: 990px) {
  .header__burger {
    position: relative;
    top: 10px;
    left: 15px;
    z-index: 12;
    width: 30px;
    height: 20px;
    display: block;
  }
  .header__burger:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    transition: all 0.3s ease 0s;
  }
  .header__burger:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    transition: all 0.3s ease 0s;
  }
  .header__burger span {
    position: absolute;
    top: 9px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    transition: all 0.3s ease 0s;
  }
  .header__burger._active-burger span {
    display: none;
    transition: all 0.3s ease 0s;
  }
  .header__burger._active-burger:before {
    background-color: #ED3024;
    transition: all 0.3s ease 0s;
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .header__burger._active-burger:after {
    background-color: #ED3024;
    transition: all 0.3s ease 0s;
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .header__input {
    position: absolute;
    right: 0;
    top: 0;
  }
  .header__menu {
    position: absolute;
    top: -800px;
    z-index: 2;
    opacity: 0;
    transition: left 0.3s ease 0s;
  }
  .header__menu._active-burger {
    display: block;
    background-color: #EBEBEB;
    width: 300px;
    height: 2000px;
    left: 0;
    opacity: 1;
    top: 0;
  }
  .header__list {
    flex-direction: column;
    margin: 50px 0 0 0;
  }
  .header__link {
    color: #0D0D0D;
    font-size: 16px;
    font-weight: 400;
    width: 200px;
    border-bottom: 1px black solid;
    margin: 0 0 20px 0;
  }
  .header__link span {
    border-top: 5px solid black;
  }
  .header__link:hover {
    background-color: #ED3024;
  }
  .header__list-menu {
    border: 1px #0D0D0D solid;
    background-color: #EBEBEB;
    top: 41.5%;
    left: 0;
  }
  .header__link-menu {
    transform: translate(0px, -24%);
    color: #0D0D0D;
  }
}
@media (max-width: 679px) {
  .header__menu {
    display: none;
  }
  .header__menu._active-burger {
    display: none;
  }
}

.gallery {
  margin: 60px 0 0 0;
}
.gallery__teraz {
  display: block;
  color: #0D0D0D;
}
.gallery__row {
  display: flex;
  justify-content: center;
  padding: 0px -6.5px;
}
.gallery__image {
  position: relative;
  margin: 0px 6.5px;
  width: 140px;
  height: 195px;
  border-radius: 5px;
}
.gallery__image:first-child {
  margin: 0px 6.5px 0px 0px;
}
.gallery__image:last-child {
  margin: 0px 0px 0px 6.5px;
}
.gallery__image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery span {
  position: absolute;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  max-width: 110px;
  opacity: 0.9;
}
.gallery span:first-of-type {
  top: 14px;
  left: 14px;
}
.gallery span:last-child {
  bottom: 14px;
  right: 17px;
  text-transform: uppercase;
}
@media (max-width: 630px) {
  .gallery__image_a {
    display: none;
  }
  .gallery__image_b {
    display: none;
  }
}

.input {
  margin: 30px 0 0 0;
}
.input__ip {
  width: 100%;
  height: 74px;
  background-color: #121212;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.45);
  border-radius: 5px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  padding: 0 0 0 28px;
}
.input__ip:-moz-placeholder {
  color: #D2D2D2;
}
.input__button {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  transform: translate(470px, -59px);
}
.input__button_photo {
  margin: 0 15px 0 0;
}
.input__button img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}

.block {
  background-color: #202020;
  max-width: 600px;
  height: 100%;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
}
.block__conteiner {
  padding: 25px 27.78px 25px 27.78px;
}
.block__conteiner p {
  padding: 0 0 10px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #D2D2D2;
}
.block__conteiner span {
  padding: 20px 0 0 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #828282;
  font-family: "Lato", sans-serif;
}

.block1 {
  margin: 30px 0 0 0;
  background-color: #202020;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  max-width: 600px;
  height: 100%;
}
.block1__conteiner {
  padding: 26px 25px 0px 25px;
}
.block1__image {
  width: 600px;
  height: 245px;
}
.block1__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.block1 p:first-child {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  color: #FFFFFF;
}
.block1 p:nth-child(2) {
  padding: 15px 0 21px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #D2D2D2;
}
.block1__bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 0 25px 0;
}
.block1__span span {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #828282;
  position: relative;
}
.block1__span span:first-child {
  padding: 0 36px 0 0;
}
.block1__span span:first-child:after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #C4C4C4;
  border-radius: 50%;
  position: absolute;
  right: 13px;
  top: 25%;
}
.block1__read {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #107EFF;
}

.block2 {
  margin: 30px 0 0 0;
  width: 100%;
  background-color: #202020;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  height: 100%;
  padding: 25px 0 0 0;
}
.block2__image {
  margin: 0 25px 25px 25px;
  position: relative;
  width: 550px;
  height: 280px;
}
.block2__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.block2__image a {
  position: absolute;
  top: 105px;
  left: 244px;
}
.block2__conteiner {
  padding: 0px 25px 0px 25px;
}
.block2__conteiner p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
.block2__bottom {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0 0;
}
.block2__span {
  margin: 0 0 25px 0;
}
.block2__span span {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #828282;
  position: relative;
}
.block2__span span:first-child {
  padding: 0 36px 0 0;
}
.block2__span span:first-child:after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #C4C4C4;
  border-radius: 50%;
  position: absolute;
  right: 13px;
  top: 25%;
}
.block2__read {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #107EFF;
}

.block3 {
  margin: 30px 0 0 0;
  background-color: #202020;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  max-width: 600px;
  height: 100%;
}
.block3__conteiner {
  padding: 26px 25px 0px 25px;
}
.block3 p:first-child {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  color: #FFFFFF;
}
.block3 p:nth-child(2) {
  padding: 15px 0 21px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #D2D2D2;
}
.block3__bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 0 25px 0;
}
.block3__span span {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #828282;
  position: relative;
}
.block3__span span:first-child {
  padding: 0 36px 0 0;
}
.block3__span span:first-child:after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #C4C4C4;
  border-radius: 50%;
  position: absolute;
  right: 13px;
  top: 25%;
}
.block3__read {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #107EFF;
}

.footer {
  margin: 60px 0 80px 0;
}
.footer__row {
  display: flex;
  justify-content: center;
}
.footer__btn {
  background-color: #0D0D0D;
  width: 40px;
  height: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  margin: 0 0 0 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
}
.footer__btn:hover {
  background-color: #104BE3;
}
.footer__btn_a {
  margin: 0;
}
.footer__btn_a span {
  display: block;
  width: 8px;
  height: 1px;
  background-color: #FFFFFF;
  margin: 0px auto;
}
.footer__btn_a span:first-child {
  transform: rotate(-20deg) translate(0px, -1px);
}
.footer__btn_a span:last-child {
  transform: rotate(20deg) translate(0px, 1px);
}
.footer__btn_e span {
  display: block;
  width: 8px;
  height: 1px;
  background-color: #FFFFFF;
  margin: 0px auto;
}
.footer__btn_e span:first-child {
  transform: rotate(20deg) translate(0px, -1px);
}
.footer__btn_e span:last-child {
  transform: rotate(-20deg) translate(0px, 1px);
}/*# sourceMappingURL=style.css.map */