@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2? family= Roboto:wght@400;500;700 & display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  display: flex;
  position: relative;
}
@media (max-width: 679px) {
  .wrapper .skin {
    width: 100%;
    background-color: #181818;
    min-height: 100%;
  }
}

.skin {
  width: 100%;
  background-color: #181818;
}

.container {
  max-width: 630px;
  margin: 0px auto;
  padding: 0px 15px;
}

.block-left {
  background-color: #202020;
  box-shadow: 5px 0px 15px rgba(5, 5, 5, 0.1);
  width: 300px;
}
.block-left__image {
  position: relative;
}
.block-left__icon {
  position: absolute;
  left: 27%;
  top: 65%;
}
.block-left__title {
  margin: 69px 0 0 0;
}
.block-left__title h1 {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}
.block-left__title h2 {
  padding: 3px 0 0 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #DEDEDE;
}
.block-left__contacts {
  margin: 18px 0 0 0;
}
.block-left__contacts-menu {
  display: flex;
  justify-content: center;
  margin: 0px -7.5px;
}
.block-left__contacts-menu li {
  padding: 0px 7.5px;
}
.block-left__line {
  background-color: #1C1C1C;
  max-width: 260px;
  height: 1px;
  margin: 30px auto 0px auto;
}
.block-left__list {
  display: none;
}
.block-left__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  padding: 30px 0 0 0;
  opacity: 0.9;
}
.block-left__text p {
  max-width: 260px;
  margin: 0px auto;
}
.block-left__text p:hover {
  text-decoration: underline;
}
.block-left__btn {
  display: flex;
  justify-content: center;
  margin: 30px -10px 0 -10px;
}
.block-left__btn form {
  padding: 0px 10px;
}
.block-left__btn_a {
  background-color: #ED3024;
  box-shadow: 0px 7px 17px -10px rgba(242, 63, 63, 0.2);
  border-radius: 25px;
  width: 120px;
  height: 40px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}
.block-left__btn_b {
  background-color: #3137C9;
  box-shadow: 0px 7px 17px -10px rgba(32, 84, 219, 0.35);
  border-radius: 25px;
  width: 120px;
  height: 40px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}
@media (max-width: 679px) {
  .block-left {
    position: absolute;
    left: -400px;
    z-index: 8;
    transition: left 0.3s ease 0s;
  }
  .block-left__icon {
    position: absolute;
    top: 123px;
    left: 15px;
    z-index: 2;
  }
  .block-left__icon img {
    width: 95px;
    height: 95px;
    position: absolute;
    z-index: 2;
  }
  .block-left__title h1 {
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    position: absolute;
    top: 160px;
    left: 100px;
    z-index: 10;
  }
  .block-left__title h2 {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    position: absolute;
    top: 175px;
    left: 100px;
    z-index: 10;
  }
  .block-left__contacts {
    display: none;
  }
  .block-left__line {
    margin: -30px 0 0 0;
  }
  .block-left__line_two {
    display: none;
  }
  .block-left__text {
    display: none;
  }
  .block-left__btn {
    margin: 25px 0 15px 0;
  }
  .block-left__list {
    display: block;
    margin: 30px 0 0 30px;
  }
  .block-left__link {
    display: block;
    padding: 0 0 20px 0;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
  }
  .block-left__link:active {
    color: #107EFF;
  }
  .block-left__menu_a {
    display: block;
    margin: 0 0 20px 17px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
  }
  .block-left__menu_a:active {
    color: #107EFF;
  }
  .block-left._active-burger {
    left: 0px;
    transition: left 0.3s ease 0s;
  }
}

.header {
  height: 40px;
  width: 100%;
  background-color: #0D0D0D;
  box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 10;
}
.header__burger {
  display: none;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
.header__column {
  display: flex;
  position: relative;
}
.header__list {
  display: flex;
}
.header__link {
  display: inline-block;
  height: 40px;
  width: 86px;
  padding: 13px 0 0 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  opacity: 0.9;
}
.header__link_p._active-link {
  background-color: #3137C9;
}
.header__link_c {
  margin: 0 20px 0 0;
}
.header__link span {
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 5px solid #FFFFFF;
  width: 0;
  height: 0;
  margin: 4px 0 0 10px;
}
.header__link span._active-btn {
  transform: rotate(-180deg);
  transition: all 0.3s ease 0s;
}
.header__link:hover {
  background-color: #3137C9;
}
.header__link-menu {
  display: none;
  position: absolute;
  background-color: #3137C9;
  width: 165px;
  height: 84px;
  padding: 10px 0 0 12px;
  z-index: 5;
}
.header__link-menu li {
  padding: 0 0 10px 0;
}
.header__link-menu li:hover {
  text-decoration: underline;
}
.header__link-menu._active-menu {
  display: block;
}
.header__link-menu_a {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  opacity: 0.9;
}
.header__input {
  background: #202020;
  box-shadow: -7px 1px 10px rgba(0, 0, 0, 0.3);
  width: 220px;
  height: 40px;
  padding: 0 0 0 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.4);
}
.header__input_a {
  display: none;
}
@media (max-width: 990px) {
  .header__burger {
    position: relative;
    top: 10px;
    left: 15px;
    z-index: 12;
    width: 30px;
    height: 20px;
    display: block;
  }
  .header__burger:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    transition: all 0.3s ease 0s;
  }
  .header__burger:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    transition: all 0.3s ease 0s;
  }
  .header__burger span {
    position: absolute;
    top: 9px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    transition: all 0.3s ease 0s;
  }
  .header__burger._active-burger span {
    display: none;
    transition: all 0.3s ease 0s;
  }
  .header__burger._active-burger:before {
    transition: all 0.3s ease 0s;
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .header__burger._active-burger:after {
    transition: all 0.3s ease 0s;
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .header__input {
    display: none;
  }
  .header__input_a {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
  }
  .header__menu {
    position: absolute;
    top: 0;
    left: -800px;
    z-index: 2;
    opacity: 0;
    transition: left 0.3s ease 0s;
  }
  .header__menu._active-burger {
    display: block;
    background-color: #EBEBEB;
    width: 300px;
    height: 500px;
    left: -300px;
    opacity: 1;
  }
  .header__list {
    flex-direction: column;
    margin: 50px 0 0 0;
  }
  .header__link {
    color: #0D0D0D;
    font-size: 16px;
    font-weight: 400;
    width: 200px;
    border-bottom: 1px black solid;
    margin: 0 0 20px 0;
  }
  .header__link span {
    border-top: 5px solid black;
  }
  .header__link:hover {
    background-color: #ED3024;
  }
  .header__link-menu {
    transform: translate(0px, -24%);
    background-color: #EBEBEB;
    border: 1px #0D0D0D solid;
  }
  .header__link-menu_a {
    color: #0D0D0D;
  }
}
@media (max-width: 679px) {
  .header__input_a {
    width: 212px;
  }
  .header__burger._active-burger:before {
    background-color: #ED3024;
  }
  .header__burger._active-burger:after {
    background-color: #ED3024;
  }
  .header__menu {
    position: absolute;
    top: 0;
    left: -800px;
    z-index: 2;
    opacity: 0;
    transition: left 0.3s ease 0s;
  }
  .header__menu._active-burger {
    display: none;
    background-color: #EBEBEB;
    width: 300px;
    height: 500px;
    left: 0;
    opacity: 1;
  }
}

.under {
  margin: 60px 0 0 0;
}
.under__row {
  display: flex;
  justify-content: center;
  margin: 0px -6.5px;
}
.under__image {
  padding: 0px 6.5px;
  position: relative;
}
.under__body span {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  max-width: 110px;
  opacity: 0.9;
}
.under__body span:first-child {
  position: absolute;
  top: 14px;
  left: 13px;
}
.under__body span:last-child {
  position: absolute;
  bottom: 14px;
  right: 17px;
  text-transform: uppercase;
}
@media (max-width: 630px) {
  .under__image_a {
    display: none;
  }
  .under__image_b {
    display: none;
  }
}

.input__content {
  margin: 30px 0 0 0;
}
.input__ip {
  width: 100%;
  height: 74px;
  background-color: #121212;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.45);
  border-radius: 5px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #D2D2D2;
  padding: 0 0 0 28px;
}
.input__form {
  position: relative;
}
.input__btn {
  position: absolute;
  display: flex;
  top: 20%;
  right: 20px;
}
.input__photo {
  margin: 0 59px 0 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  right: 20px;
}
.input__button {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  right: 20px;
}

.text {
  margin: 30px 0 0 0;
  background-color: #202020;
  max-width: 600px;
  height: 100%;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
}
.text__content {
  padding: 25px 27.78px 25px 27.78px;
}
.text__content p {
  padding: 0 0 10px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #D2D2D2;
}
.text__content span {
  padding: 20px 0 0 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #828282;
  font-family: "Lato", sans-serif;
}

.block1 {
  margin: 30px 0 0 0;
  background-color: #202020;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  max-width: 600px;
  height: 100%;
}
.block1__content {
  padding: 26px 25px 0px 25px;
}
.block1__title p {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  color: #FFFFFF;
}
.block1__text p {
  padding: 15px 0 21px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #D2D2D2;
}
.block1__bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 0 25px 0;
}
.block1__span span {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #828282;
  position: relative;
}
.block1__span span:first-child {
  padding: 0 36px 0 0;
}
.block1__span span:first-child:after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #C4C4C4;
  border-radius: 50%;
  position: absolute;
  right: 13px;
  top: 25%;
}
.block1__read {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #107EFF;
}

.block2 {
  margin: 30px 0 0 0;
  width: 100%;
  background-color: #202020;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  height: 100%;
}
.block2__image {
  position: relative;
}
.block2__image img {
  padding: 25px;
}
.block2__button {
  position: absolute;
  top: 105px;
  left: 244px;
}
.block2__content {
  padding: 0px 25px 0px 25px;
}
.block2__title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
.block2__bottom {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0 0;
}
.block2__span {
  margin: 0 0 25px 0;
}
.block2__span span {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #828282;
  position: relative;
}
.block2__span span:first-child {
  padding: 0 36px 0 0;
}
.block2__span span:first-child:after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #C4C4C4;
  border-radius: 50%;
  position: absolute;
  right: 13px;
  top: 25%;
}
.block2__read {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #107EFF;
}

.block3 {
  margin: 30px 0 0 0;
  background-color: #202020;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  max-width: 600px;
  height: 100%;
}
.block3__content {
  padding: 26px 25px 0px 25px;
}
.block3__title p {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  color: #FFFFFF;
}
.block3__text p {
  padding: 15px 0 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #D2D2D2;
}
.block3__bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 0 25px 0;
}
.block3__span span {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #828282;
  position: relative;
}
.block3__span span:first-child {
  padding: 0 36px 0 0;
}
.block3__span span:first-child:after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #C4C4C4;
  border-radius: 50%;
  position: absolute;
  right: 13px;
  top: 25%;
}
.block3__read {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #107EFF;
}

.footer {
  margin: 60px 0 80px 0;
}
.footer__row {
  display: flex;
  justify-content: center;
}
.footer__btn {
  background-color: #0D0D0D;
  width: 40px;
  height: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  margin: 0 0 0 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
}
.footer__btn:hover {
  background-color: #104BE3;
}
.footer__btn_a {
  margin: 0;
}
.footer__btn_a span {
  display: block;
  width: 8px;
  height: 1px;
  background-color: #FFFFFF;
  margin: 0px auto;
}
.footer__btn_a span:first-child {
  transform: rotate(-20deg) translate(0px, -1px);
}
.footer__btn_a span:last-child {
  transform: rotate(20deg) translate(0px, 1px);
}
.footer__btn_e span {
  display: block;
  width: 8px;
  height: 1px;
  background-color: #FFFFFF;
  margin: 0px auto;
}
.footer__btn_e span:first-child {
  transform: rotate(20deg) translate(0px, -1px);
}
.footer__btn_e span:last-child {
  transform: rotate(-20deg) translate(0px, 1px);
}

@media (max-width: 679px) {
  .content .input {
    display: none;
  }
  .content .block1__image {
    display: flex;
    justify-content: center;
  }
  .content .block1__image img {
    width: 290px;
    height: 183px;
  }
  .content .block1__content {
    padding: 20px 15px 0 15px;
  }
  .content .block2__image {
    width: 290px;
    height: 205px;
    margin: 0px auto;
  }
  .content .block2__image img {
    width: 290px;
    height: 205px;
    padding: 0;
  }
  .content .block2__button {
    top: 25%;
    left: 35%;
  }
  .content .block2__content {
    padding: 20px 15px 0 15px;
  }
  .content .block2__button > a img {
    width: 100px;
    height: 100px;
  }
  .content .block3__image img {
    width: 290px;
    height: 183px;
  }
  .content .block3__content {
    padding: 10px 15px 0 15px;
  }
}
